.container{
    width: 100vw;
    height: auto;
    padding: 6.25rem;
}
.content{
    color: black !important;
    font-family: 'Roboto'!important;
    font-weight: bold;
    font-size: 1.25rem;
}
.input{
    width: 50vw;
    margin-top: 5rem;
}