.container{
    width: 100%;
    height: auto;
    padding: 6.25rem;
}
.content{
    color: black !important;
    font-family: 'Roboto'!important;
    font-weight: bold;
    font-size: 1.25rem;
}
.input{
    margin-top: 5rem;
}
.wrapper{
    background: white;
    margin: 7rem 15rem;
}